.headerParentDiv {
  padding-left: 50px;
  padding-right: 100px; 
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: rgb(53, 168, 184);
  width: 100vw;
 /* z-index: 999;*/
}

.headerChildDiv {
  width: 100%;
  display: flex;
  align-items: center;
}


span {
  text-decoration:dashed;
  font-size: 16px;
  white-space: normal;
  text-overflow: ellipsis;
  font-weight: bolder;
  margin-right:0px;
}

.loginPage{
  display: flex;
  position: absolute;
  margin-right: 5%;
  right: 2%;
}
.sellMenu {
  align-items: flex-end;
  cursor: pointer;
}

.sellMenu .sellMenuContent {
  display: flex;
  position: absolute;
  right: 15%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #002f34;
}

/* .sellMenu .sellMenuContent svg {
  align-items: center;
} */
.sellMenu .sellMenuContent span {
  margin-left: 5px;
}

.logoutbtn{
  display: flex;
  position: absolute;
  right: 1%;
}

@media only screen and (max-width: 700px) {
  .placeSearch,
  .productSearch,
  .sellMenu {
    display: none;
  }
}